# Laravel core
/vendor
/node_modules
.env
.env.*
.phpunit.result.cache
.phpunit.cache
.phpactor.json
Homestead.*
npm-debug.log
yarn-error.log
/auth.json

# IDEs & Tools
/.idea
/.vscode
/.zed
/.nova
/.fleet

# Laravel build & cache
/bootstrap/ssr
!/public/build
/public/hot
/public/storage

# Docker & Render
render.yaml
Dockerfile
.dockerignore

# Logs & misc
storage/app
storage/framework
