<IfModule mod_rewrite.c>
    RewriteEngine On

    # Remove trailing slash
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Front controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Serve only HTML for HMR
    RewriteCond %{HTTP:Accept} text/html
    RewriteRule ^ - [E=HTTP_ACCEPT:text/html]
</IfModule>
